<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.video" >

    <application>
        <activity android:name="com.example.exoplayer.demo.SingleActivity" />
        <activity android:name="com.example.exoplayer.demo.ListingActivity" />
    </application>
</manifest>
